@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

*::selection {
    background: var(--main-color);
    color: var(--text-color);
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* Utility and Variables */

:root {
    --main-color: #FF702a;
    --text-color: #FFFFFF;
    --bg-color: #1E1C2A;
    --box-bg-color: #FEEEE7;
    --big-font: 3.5rem;
    --h2-font: 2.25rem;
    --h3-font: 1.3rem;
    --h4-font: 1.1rem;
    --p-font: 0.9rem;
}

.flex{
    display: flex;
    align-items: center;
}

.container {
    max-width: 1300px;
    margin: auto;
    /* border: #FFFFFF solid 2px; */
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    font-weight: 500;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

/* Header section */

.header-container {
    justify-content: space-between;
    padding: 30px 0;
}

.logo {
    font-weight: 600;
    color: var(--text-color);
    font-size: 2.5rem;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    justify-content: space-between;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: 0.2s ease-out;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Home Section */

.home-container {
    justify-content: space-between;
    gap: 50px;
    padding: 50px 50px;
}

.home-container .home-text {
    max-width: 40%;
}

.home-image img{
    max-width: 100%;
    width: 500px;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin: 1rem 0 2rem;
}

/* About Section */

.about-container {
    justify-content: space-between;
    gap: 50px;
    padding: 50px 50px;
}

.about-container .about-text {
    max-width: 40%;
}

.about-image img {
    max-width: 100%;
    width: 500px;
}

.about-text span {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--main-color);
}

.about-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}

.about-text p {
    font-size: var(--p-font);
    margin: 0.8rem 0 1.8rem;
    line-height: 1.8;
}

/* Menu Section */

.menu-container {
    padding: 50px 50px;
}

.menu-heading {
    text-align: center;
}

.menu-heading span {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--main-color);
}

.menu-heading h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}

.menu-box-container {
    margin-top: 4rem;
    justify-content: space-between;
}

.box {
    flex-direction: column;
    justify-content: center;
    min-width: 32%;
    background: var(--box-bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    position: relative;
}

.box-image {
    width: 220px;
    height: 220px;
}

.box-image img {
    width: 100%;
    height: 100%;
}

.box h3 {
    font-size: var(--h3-font);
    color: var(--bg-color);
    margin: 10px 0 0;
}

.box h4 {
    font-size: var(--h4-font);
    font-weight: 400;
    color: var(--bg-color);
    margin: 10px 0 15px;
}

.box span {
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 0.5rem;
    background: var(--bg-color);
}

.box span:hover {
    background: var(--main-color);
    color: var(--text-color);
    transition: 0.1s ease-out;
}

.box .bx {
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 10px 12px;
    border-radius: 0 0.5rem 0;
}

.box .bx:hover {
    transform: scale(1.3);
    transition: 0.2s ease-out;
}

/* Services Section */

.services-container {
    padding: 50px 50px;
}

.services-heading {
    text-align: center;
}

.services-heading span {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--main-color);
}

.services-heading h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}

.s-box-container {
    justify-content: space-between;
    gap: 50px;
    margin: 60px 0;
}

.s-box {
    max-width: 30%;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.s-box img {
    width: 90px;
}

.s-box h3 {
    color: var(--main-color);
    font-size: var(--h3-font);
}

.s-box p {
    line-height: 1.8;
}

/* cta section */

.cta-container {
    background-color: var(--box-bg-color);
    padding: 50px 0;
    text-align: center;
    width: 66%;
    margin: 50px auto;
    border-radius: 0.7rem;
}

.cta-container h2 {
    font-size: var(--h2-font);
    color: var(--bg-color);
    margin-bottom: 40px;
}

/* Footer Section */

.col-container {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 160px;
}

.col {
    max-width: 25%;
}

.col h4 {
    font-size: var(--h4-font);
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(last-child) {
    margin-bottom: 13px;
}

.col ul li a {
    color: #9897A9;
    font-size: var(--h4-font);
    display: block;
    text-transform: capitalize;
    transition: 0.3s ease-out;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-10px);
}

.col .social {
    justify-content: space-between;
    gap: 25px;
}

.col .social a {
    height: 35px;
    width: 35px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.2s ease-out;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}